.img-fluid{
    max-width: 100%;
    height: auto;
}

#logo{
    max-width: 200px;
    height: 150px;
    margin-bottom: 20%;
}

.topnavbar{
    margin-bottom: 20px;
}

.sidebar{
    margin-left: 10px;
}

.sidebar_text{
    text-align: center;
}

.srchbuttn{
    margin-bottom: 8px;
}

.badge{
    margin-left: 7px;
}
.card_comp{
    margin-top: 10px;
   
}
.logo_img{
    cursor: pointer;
}